In [2]:
import pandas as pd
import networkx as nx
from statistics import mean

##  Data prepreocessing data

In [3]:
node_feat = pd.read_csv('3253671.feat', delim_whitespace=True, header=None)
node_feat.columns = ['Node'] + [f'feat_{i}' for i in range(1, node_feat.shape[1])]
node_feat

,Node,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_996,feat_997,feat_998,feat_999,feat_1000,feat_1001,feat_1002,feat_1003,feat_1004,feat_1005
0,25131190,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,28688895,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,308111730,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,8541492,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,18473279,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,117359940,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
152,12494542,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
153,3062761,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
154,14168488,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
155,15195576,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
edges = pd.read_csv('3253671.edges', delim_whitespace=True, header=None,names=["node1","node2"])

edges

          node1     node2
0      16834674     15913
1       3062761  14269220
2       1937751  16547411
3       4065921  14269220
4       6085372  14168488
...         ...       ...
3937   21430043  19732725
3938  123004655   5774432
3939    6834572   7159422
3940    2589661     15913
3941    8541492   6086752

[3942 rows x 2 columns]

## create direct graph

In [5]:
G = nx.DiGraph()

G.add_nodes_from(node_feat['Node'])

edge = [(row['node1'], row['node2']) for index, row in edges.iterrows()]
G.add_edges_from(edge)

In [6]:
in_degrees = dict(G.in_degree())
out_degrees = dict(G.out_degree())
total_degrees = {node: in_degrees[node] + out_degrees[node] for node in G.nodes()}

In [7]:
print(f"Number of nodes: {G.number_of_nodes()}")
print(f"Number of edges: {G.number_of_edges()}")
print(f"Maximum degree: {max(total_degrees.values())}")
print(f"Maximum degree: {mean(total_degrees.values())}")

Number of nodes: 156
Number of edges: 3942
Maximum degree: 174
Maximum degree: 50.53846153846154

In [8]:
max(in_degrees.values())

99

## the most cited paper with ID : 35 under title 'Genetic_Algorithms'

In [9]:
target_value = max(in_degrees.values())
keys_with_max_value = [key for key, value in in_degrees.items() if value == target_value]

print( keys_with_max_value)

[14269220]

## select only first 8 nodes in this network and calcuate adj_matrix

In [11]:
first_8_nodes = list(node_feat['Node'][:8])
print(first_8_nodes)

[25131190, 28688895, 308111730, 8541492, 18473279, 23739142, 15642031, 15394673]

In [12]:
subgraph=G.subgraph(first_8_nodes)

In [13]:
subgraph.number_of_nodes()

8

In [14]:
subgraph.number_of_edges()

0

In [15]:
adj_matrix = nx.to_numpy_array(subgraph)

## we cannot find any  followed or following person between nodes through this subgraph

In [16]:
adj_matrix

array([[0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.]])